<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
    This project was guided by the sample project given in the Ruby on Rails Tutorial.  To learn to create a similar application, see the
    <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>